<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Inicio de sesion</title>
	<!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 11]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	
	<!-- Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="" />
	<meta name="keywords" content="palabras clave separadas por comas">

	<!-- Favicon icon -->
	<link rel="icon" href="../img/logof.png" type="image/png">

	<!-- font css -->
	<link rel="stylesheet" href="../assets/fonts/font-awsome-pro/css/pro.min.css">
	<link rel="stylesheet" href="../assets/fonts/feather.css">
	<link rel="stylesheet" href="../assets/fonts/fontawesome.css">

	<!-- vendor css -->
	<link rel="stylesheet" href="../assets/css/style.css">
	<link rel="stylesheet" href="../assets/css/customizer.css">

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
	<!-- [ auth-signin ] start -->
	<div class="auth-wrapper">
		<div class="auth-content">
			<div class="card">
				<div class="row align-items-center text-center">
					<div class="col-md-12">
						<div class="card-body">
							<img src="../assets/images/logof.png" height="170" width="171">
							<h4 class="mb-3 f-w-400">Inicio de Sesión</h4>
							<h5 id="text-error" class="text-muted font-weight-normal mb-4">
                        ¡Bienvenido de nuevo! Ingrese a su cuenta.
                      </h5>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"><i data-feather="user"></i></span>
									</div>
									<select class="form-control" id="userSelect" required>
                                    </select>
								</div>
								<div class="input-group mb-4">
									<div class="input-group-prepend">
										<span class="input-group-text"><i data-feather="lock"></i></span>
									</div>
									<input type="password" class="form-control" placeholder="Contraseña" id="password" name="password" required>
								</div>
								<button class="btn btn-block btn-primary mb-4" id="btnLogin" onclick="login()">
									Iniciar Sesión <i data-feather="log-in"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- [ auth-signin ] end -->

	<!-- Required Js -->
	<script src="../assets/js/vendor-all.min.js"></script>
	<script src="../assets/js/plugins/bootstrap.min.js"></script>
	<script src="../assets/js/plugins/feather.min.js"></script>
	<script src="../assets/js/pcoded.min.js"></script>

	<script src="../assets/js/login.js"></script>
</body>
</html>
